.containerDice {
  width: 100%;
  height: 75%;
}

.square {
  height: 150px;
  width: 150px;
  border: solid 2px green;
  margin: auto;
  margin-top: 5px;
  font-size: 400%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#play {
  margin: auto;
}
